@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap");
/* Colors */
/* Fonts */
/* Utility */
.flex-centered, .category .main-container .category-container .info div:nth-child(1), .category .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Category */
.category {
  /* Display */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 5;
  /* Positioning */
  position: relative;
  top: 80px;
  /* Size */
  width: 100%;
  max-width: 1680px;
  height: 1117.32px;
  /* Appearance */
  background-color: #ffffff;
}
.category .main-container {
  /* Display */
  flex-direction: column;
  gap: 32px;
  /* Positioning */
  position: relative;
  /* Size */
  width: 100%;
  max-width: 1520px;
  height: 1037.32px;
  background-color: white;
}
.category .main-container .title-slide {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  /* Size */
  width: 100%;
  max-width: 1208px;
  height: 114px;
}
.category .main-container .title-slide .title {
  /* Font */
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  text-align: center;
  /* Size */
  width: 100%;
  max-width: 709px;
  height: 64px;
  line-height: 64px;
}
.category .main-container .title-slide .slide-bar {
  /* Display */
  display: flex;
  justify-content: center;
  /* Size */
  width: 100%;
  max-width: 1208px;
  height: 34px;
}
.category .main-container .title-slide .slide-bar ul {
  /* Display */
  display: flex;
  flex-direction: row;
  /* Position */
  position: relative;
  left: 23px;
  /* Font */
  font-family: "Biryani", serif;
  font-size: 1rem;
  font-weight: 400;
  /* Size */
  width: 100%;
  max-width: 1024px;
  height: 34px;
}
.category .main-container .title-slide .slide-bar ul li {
  /* Size */
  padding: 0px 24px 0px 24px;
  /* Spacing */
  line-height: 48px;
  /* Appearance */
  list-style-type: none;
}
.category .main-container .title-slide .slide-bar ul li:nth-child(4) {
  color: #c6a26d;
}
.category .main-container .category-main-container {
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Size */
  width: 100%;
  max-width: 1520px;
  height: 891.32px;
}
.category .main-container .category-container {
  /* Display */
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* Size */
  width: 100%;
  max-width: 1200px;
  height: 892px;
}
.category .main-container .category-container .category-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}
.category .main-container .category-container .category-first-row img:nth-child(1) {
  width: 58%;
  max-width: 694px;
  height: 437.66px;
  object-fit: fill;
}
.category .main-container .category-container .category-first-row img:nth-child(2) {
  width: 41%;
  max-width: 490px;
  height: 437.66px;
  object-fit: fill;
}
.category .main-container .category-container .category-second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}
.category .main-container .category-container .category-second-row img:nth-child(1) {
  width: 45%;
  max-width: 490px;
  height: 437.66px;
  object-fit: cover;
}
.category .main-container .category-container .img-background {
  /* Background Image */
  background-image: url("../../public/assets/Imgs/Category/img-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Size */
  width: 100%;
  max-width: 694px;
  height: 437.66px;
}
.category .main-container .category-container .info {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  /* Posision */
  position: relative;
  top: 100px;
  left: 272px;
  /* Size */
  width: 100%;
  max-width: 358px;
  height: 238px;
}
.category .main-container .category-container .info div:nth-child(1) {
  flex-direction: column;
}
.category .main-container .category-container .info div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.category .main-container .category-container .info div h1 {
  /* Font */
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 500;
  font-size: 2.8rem;
  color: white;
  /* Size */
  width: 100%;
  max-width: 250px;
  height: 64px;
  /* Spacing */
  line-height: 64px;
  text-align: center;
}
.category .main-container .category-container .info div span:nth-child(2) {
  /* Font */
  font-family: "Biryani", serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: #c6a26d;
  /* Size */
  width: 100%;
  max-width: 358px;
  height: 18px;
  /* Spacing */
  line-height: 18px;
  text-align: center;
}
.category .main-container .category-container .info div:nth-child(2) span:nth-child(1) {
  /* Font */
  font-family: "Biryani", serif;
  font-size: 0.5rem;
  font-weight: 700;
  color: white;
  /* Spacing */
  text-align: center;
  line-height: 16px;
}
.category .main-container .category-container .info button {
  /* Size */
  width: 100%;
  max-width: 95px;
  height: 36px;
  /* Font */
  /* Font */
  font-family: "Biryani", serif;
  font-size: 0.5rem;
  font-weight: 700;
  /* Size */
  padding: 12px 16px 12px 16px;
  /* Spacing */
  line-height: 16px;
  /* Appearance */
  background-color: #ffffff;
  border-radius: 0px;
  border: none;
  cursor: pointer;
}

.account {
  /* DIsplay */
  display: flex;
  justify-content: center;
  z-index: 6;
  /* Position */
  position: absolute;
  top: 1197.32px;
  /* Size */
  width: 100%;
  max-width: 1680px;
  height: 420px;
}
.account .main-account-container {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  /* Size*/
  width: 100%;
  max-width: 1680px;
  height: 340px;
  /* Appearance */
  border-top: 1px solid #bdbab7;
  border-bottom: 1px solid #bdbab7;
}
.account .main-account-container .information {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Size */
  width: 100%;
  max-width: 1392px;
  height: 192px;
  /* Spacing */
  text-align: center;
}
.account .main-account-container .information .topic {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  /* Size */
  width: 100%;
  height: 80px;
}
.account .main-account-container .information .topic h2 {
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 48px;
}
.account .main-account-container .information .topic span {
  font-family: "Biryani", serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 18px;
}
.account .main-account-container .information > img {
  width: 36px;
  height: 36px;
}
.account .main-account-container .information > span {
  /* Size */
  width: 100%;
  max-width: 1000px;
  height: 36px;
  /* Font */
  font-family: "Biryani", serif;
  font-size: 0.6rem;
  font-weight: 600;
  color: #909294;
}
.account .main-account-container .button-container {
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Size */
  width: 100%;
  max-width: 273px;
  height: 36px;
}
.account .main-account-container .button-container button {
  /* Dislpay */
  display: block;
  /* Font */
  color: #ffffff;
  /* Spacing */
  line-height: 16px;
  /* Appearance */
  border: none;
  border-radius: 0px;
  background-color: #c6a26d;
  /* Effect */
  transition: background-color 0.5s;
}
.account .main-account-container .button-container button:hover {
  background-color: #c7974f;
}
.account .main-account-container .button-container button:nth-child(1) {
  /* Font */
  font-family: "Biryani", serif;
  font-size: 0.5rem;
  font-weight: 700;
  /* Size */
  padding: 12px 16px 12px 16px;
  /* Size */
  width: 100%;
  max-width: 126px;
  height: 36px;
}
.account .main-account-container .button-container button:nth-child(2) {
  /* Font */
  font-family: "Biryani", serif;
  font-size: 0.5rem;
  font-weight: 700;
  /* Size */
  padding: 12px 16px 12px 16px;
  width: 100%;
  max-width: 99px;
}

.product {
  /* DIsplay */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 6;
  /* Position */
  position: absolute;
  top: 1617.32px;
  /* Size */
  width: 100%;
  max-width: 1680px;
  height: 440px;
  background-color: white;
}
.product .text-card-container-top {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* Size */
  width: 100%;
  max-width: 712px;
  height: 160px;
}
.product .text-card-container-top div {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* Size */
  width: 100%;
  max-width: 259.2px;
  height: 280px;
  /* Font */
  color: #c6a26d;
  /* Spacing */
  text-align: center;
}
.product .text-card-container-top div p {
  /*Size */
  width: 100%;
  /* Font */
  font-family: "Biryani", serif;
  font-weight: 400;
  font-size: 0.7rem;
}
.product .text-card-container-top div h2 {
  /*Size */
  width: 100%;
  /* Font */
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 48px;
}
.product .main-product-container {
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  /* Size */
  width: 100%;
  max-width: 1520px;
}
.product .main-product-container > img {
  max-width: 40px;
}
.product .main-product-container .product-container {
  /* Display */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  /* Size */
  width: 100%;
  max-width: 1392px;
  height: 360px;
}
.product .main-product-container .text-card-container {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* Size */
  width: 100%;
  max-width: 259.2px;
  height: 354px;
}
.product .main-product-container .text-card-container div:nth-child(1) {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* Size */
  width: 100%;
  max-width: 259.2px;
  height: 280px;
  /* Font */
  color: #c6a26d;
  /* Spacing */
  text-align: center;
}
.product .main-product-container .text-card-container div:nth-child(1) p {
  font-family: "Biryani", serif;
  font-weight: 400;
  font-size: 0.7rem;
}
.product .main-product-container .text-card-container div:nth-child(1) h2 {
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 48px;
}
.product .main-product-container .text-card-container div:nth-child(2) {
  /* Size */
  width: 100%;
  height: 58px;
}
.product .main-product-container .product-card {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 16px;
  /* Size */
  width: 100%;
  max-width: 259.2px;
  height: 354px;
}
.product .main-product-container .product-card div:nth-child(1) {
  /* Display */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* Size */
  width: 100%;
  max-width: 259.2px;
  height: 280px;
  /* Appearance */
  background-color: #f4f0ec;
}
.product .main-product-container .product-card div:nth-child(2) {
  /* Display */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  /* Size */
  width: 100%;
  height: 58px;
  /* Spacing */
  text-align: center;
}
.product .main-product-container .product-card div > img {
  /* Size */
  width: 100%;
  max-width: 192px;
  height: 232px;
  object-fit: contain;
}
.product .main-product-container .product-card div > p:nth-child(1) {
  font-family: "Biryani", serif;
  font-weight: 700;
  font-size: 0.6rem;
  /* Size */
  width: 95%;
  height: 18px;
  /* Effect */
  transition: color 0.5s;
}
.product .main-product-container .product-card div > p:nth-child(2) {
  font-family: "Biryani", serif;
  font-weight: 400;
  font-size: 0.5rem;
  color: #909294;
  /* Size */
  height: 18px;
  width: 95%;
  /* Effect */
  transition: color 0.5s;
}
.product .main-product-container .product-card:hover div p {
  color: #c6a26d;
}

.overlay-product {
  /* Position */
  position: absolute;
  top: 1167px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  /* Size */
  width: 100%;
  height: 572px;
  /* Appearance */
  background: linear-gradient(to right, white, transparent, transparent, transparent, white);
}

.overlay-slide-bar {
  /* Position */
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  /* Size */
  width: 100%;
  max-width: 1208px;
  height: 35px;
  /* Appearance */
  background: linear-gradient(to right, white, transparent, transparent, white);
}

@media (min-width: 800px) {
  .overlay-product {
    display: none;
  }
}
@media (max-width: 1080px) {
  .overlay-slide-bar {
    /* Position */
    top: 128px;
    /* Size */
    max-width: 1048px;
  }
}
@media (max-width: 800px) {
  .overlay-slide-bar {
    /* Position */
    top: 176px;
    /* Size */
    max-width: 1048px;
  }
}
@media (max-width: 600px) {
  .overlay-slide-bar {
    /* Position */
    top: 152px;
    /* Size */
    max-width: 414px;
  }
  .overlay-product {
    /* Position */
    top: 1814px;
    /* Size */
    height: 552px;
  }
}
/* Responsive */
/* Responsive design for category section */
/* Desktop */
@media (max-width: 1281px) {
  .category .main-container {
    justify-content: center;
  }
  .category .main-container .category-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .category .main-container .category-main-container > img {
    display: none;
  }
  .category .main-container .category-main-container .category-container {
    /* Size */
    padding-left: 16px;
    padding-right: 16px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background .info {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1228px) {
  .category .main-container .category-main-container .category-container .category-first-row img:nth-child(1) {
    width: 57.5%;
  }
}
/* Laptop */
@media (max-width: 1080px) {
  .category {
    /* Position */
    top: 48px;
    /* Size */
    height: 853px;
  }
  .category .main-container {
    height: 853px;
  }
  .category .main-container .title-slide .slide-bar ul {
    justify-content: center;
    left: 0px;
  }
  .category .main-container .title-slide .slide-bar ul li {
    padding: 0px 12px 0px 12px;
  }
  .category .main-container .category-main-container {
    height: 708px;
  }
  .category .main-container .category-main-container .category-container {
    /* Display */
    gap: 8px;
    /* Size */
    height: 708px;
    /* Category Images */
  }
  .category .main-container .category-main-container .category-container .category-first-row {
    gap: 8px;
  }
  .category .main-container .category-main-container .category-container .category-first-row > img:nth-child(1) {
    width: 58.5%;
  }
  .category .main-container .category-main-container .category-container .category-first-row > img:nth-child(1),
  .category .main-container .category-main-container .category-container .category-first-row img:nth-child(2) {
    height: 350px;
  }
  .category .main-container .category-main-container .category-container .category-second-row {
    gap: 8px;
  }
  .category .main-container .category-main-container .category-container .category-second-row > img:nth-child(1) {
    height: 350px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background {
    height: 350px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background .info {
    top: 62px;
  }
}
@media (max-width: 986px) {
  .category .main-container .category-main-container .category-container .category-first-row img:nth-child(1) {
    width: 58%;
  }
}
@media (max-width: 840px) {
  .category .main-container .title-slide .slide-bar ul li {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* Tablet */
@media (max-width: 800px) {
  .category .main-container {
    /* Display */
    justify-content: flex-start;
    /* Size */
    height: 739px;
  }
  .category .main-container .title-slide {
    height: 163px;
  }
  .category .main-container .title-slide .title {
    /* Size */
    max-width: 650px;
    height: 112px;
    /* Font */
    font-size: 2.3rem;
    /* Spacing */
    line-height: 56px;
  }
  .category .main-container .title-slide .slide-bar {
    max-width: 712px;
  }
  .category .main-container .title-slide .slide-bar ul {
    max-width: 712px;
  }
  .category .main-container .title-slide .slide-bar ul li {
    padding-left: 24px;
    padding-right: 24px;
  }
  .category .main-container .title-slide .slide-bar ul li:nth-child(1),
  .category .main-container .title-slide .slide-bar ul li:nth-child(7) {
    display: none;
  }
  .category .main-container .category-main-container {
    height: 496px;
  }
  .category .main-container .category-main-container .category-container {
    /* Display */
    justify-content: flex-start;
    /* Size */
    max-width: 712px;
    height: 496px;
  }
  .category .main-container .category-main-container .category-container .category-first-row > img:nth-child(1),
  .category .main-container .category-main-container .category-container .category-first-row img:nth-child(2) {
    height: 244px;
  }
  .category .main-container .category-main-container .category-container .category-second-row > img:nth-child(1),
  .category .main-container .category-main-container .category-container .category-second-row img:nth-child(2) {
    height: 244px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background {
    height: 244px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background .info {
    /* Display */
    justify-content: flex-start;
    gap: 16px;
    /* Position */
    top: 32px;
    /* Size */
    max-width: 334px;
    height: 197px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background .info div:nth-child(1) {
    gap: 16px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background .info div:nth-child(1) h1 {
    /* Size */
    max-width: 334px;
    height: 69px;
    /* Font */
    font-weight: 400;
    /* Spacing */
    line-height: 68.98px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background .info div:nth-child(1) span {
    height: 36px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background .info div:nth-child(2) button {
    max-width: 95px;
    height: 36px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background .info div:nth-child(2) > span {
    display: none;
  }
}
@media (max-width: 720px) {
  .category .main-container .title-slide .slide-bar ul li {
    /* Size */
    padding-left: 20px;
    padding-right: 20px;
    /* Font */
    font-size: 0.9rem;
  }
}
@media (max-width: 702px) {
  .category .main-container .category-main-container .category-container .category-first-row img:nth-child(1) {
    width: 57.5%;
  }
}
@media (max-width: 600px) {
  .category {
    top: 40px;
  }
  .category .main-container {
    height: 1280px;
  }
  .category .main-container .title-slide {
    height: 144px;
  }
  .category .main-container .title-slide .title {
    /* Size */
    max-width: 414px;
    height: 96px;
    /* Font */
    font-size: 1.7rem;
    /* Spacing */
    line-height: 48px;
  }
  .category .main-container .title-slide .slide-bar {
    /* Display */
    gap: 11px;
    /* Size */
    max-width: 414px;
    height: 40px;
  }
  .category .main-container .title-slide .slide-bar ul li:nth-child(2),
  .category .main-container .title-slide .slide-bar ul li:nth-child(6) {
    display: none;
  }
  .category .main-container .category-main-container {
    height: 1064px;
  }
  .category .main-container .category-main-container .category-container {
    padding: 0px;
    height: 1064px;
  }
  .category .main-container .category-main-container .category-container .category-first-row {
    /* Display */
    flex-direction: column;
    align-items: center;
  }
  .category .main-container .category-main-container .category-container .category-first-row > img:nth-child(1),
  .category .main-container .category-main-container .category-container .category-first-row img:nth-child(2) {
    width: 100%;
    max-width: 414px;
    height: 260px;
  }
  .category .main-container .category-main-container .category-container .category-second-row {
    /* Display */
    flex-direction: column;
    align-items: center;
  }
  .category .main-container .category-main-container .category-container .category-second-row > img:nth-child(1) {
    width: 100%;
    max-width: 414px;
    height: 260px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background {
    width: 100%;
    max-width: 414px;
    height: 260px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background .info {
    /* Display */
    justify-content: flex-start;
    gap: 8px;
    /* Position */
    top: 62px;
    /* Size */
    max-width: 334px;
    height: 136px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background .info div:nth-child(1) {
    gap: 8px;
  }
  .category .main-container .category-main-container .category-container .category-second-row .img-background .info div:nth-child(1) h1 {
    /* Size */
    height: 48px;
    font-size: 1.7rem;
    font-weight: 500;
    /* Spacing */
    line-height: 48px;
  }
}
@media (max-width: 404px) {
  .category .main-container .title-slide .slide-bar li {
    /* Size */
    padding-left: 5px;
    padding-right: 5px;
    /* Font */
    font-size: 0.9rem;
  }
}
/* Responsive design for account section */
@media (max-width: 1080px) {
  .account {
    top: 963px;
    height: 390px;
  }
}
@media (max-width: 800px) {
  .account {
    /* Position */
    top: 787px;
    /* Size */
    height: 380px;
  }
  .account .main-account-container {
    /* Position */
    /* Size */
    height: 332px;
  }
  .account .main-account-container .information .topic {
    gap: 4px;
  }
  .account .main-account-container .information .topic > h2 {
    /* Size */
    max-width: 712px;
    height: 46px;
    /* Spacing */
    line-height: 46px;
  }
  .account .main-account-container .information .topic > span {
    /* Size */
    max-width: 191px;
    height: 36px;
    /* Font*/
    font-size: 0.6rem;
    line-height: 18px;
  }
  .account .main-account-container .information > img {
    width: 37.62px;
  }
  .account .main-account-container .information > span {
    /* Size */
    max-width: 712px;
    height: 54px;
    /* Font */
    font-size: 0.6rem;
    /* Spacing */
    line-height: 18px;
  }
  .account .main-account-container .button-container {
    /* Display */
    justify-content: flex-start;
    gap: 24px;
    /* Size */
    max-width: 317.66px;
    height: 36px;
  }
}
@media (max-width: 700px) {
  .account .main-account-container {
    height: 378px;
  }
  .account .main-account-container .information {
    height: 238px;
  }
  .account .main-account-container .information .topic {
    height: 126px;
  }
  .account .main-account-container .information .topic h2 {
    height: 92px;
  }
  .account .main-account-container .information > span {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .account {
    /* Position */
    top: 1320px;
    /* Size */
    height: 494px;
  }
  .account .main-account-container {
    height: 454px;
  }
  .account .main-account-container .information {
    /* Display */
    justify-content: flex-start;
    height: 322px;
    gap: 16px;
  }
  .account .main-account-container .information .topic {
    /* Display */
    gap: 8px;
    /* Size */
    max-width: 398px;
    height: 164px;
  }
  .account .main-account-container .information .topic > h2 {
    /* Size */
    height: 120px;
    /* Font */
    font-size: 1.6rem;
    /* Spacing */
    line-height: 40px;
  }
  .account .main-account-container .information .topic > span {
    max-width: 150px;
    height: 36px;
  }
  .account .main-account-container .information > span {
    max-width: 398px;
    height: 90px;
  }
  .account .main-account-container .button-container {
    justify-content: center;
  }
}
@media (max-width: 390px) {
  .account .main-account-container .information > span {
    max-width: 300px;
  }
}
/* Responsive design for product section */
/* Laptop */
@media (min-width: 1080px) {
  .product .text-card-container-top {
    display: none;
  }
}
@media (max-width: 1080px) {
  .product {
    /* Position */
    top: 1352px;
    /* Size */
    height: 572px;
  }
  .product .text-card-container-top .text-card-top h2 {
    line-height: 46px;
  }
  .product .main-product-container .text-card-container {
    display: none;
  }
}
@media (max-width: 800px) {
  .product {
    top: 1167px;
  }
  .product .main-product-container {
    overflow: hidden;
  }
  .product .main-product-container > img {
    display: none;
  }
  .product .main-product-container .product-card {
    width: 259.2px;
  }
  .product .main-product-container .product-card div:nth-child(1) {
    width: 259.2px;
  }
  .product .main-product-container .product-card div:nth-child(1) img {
    width: 259.2px;
  }
}
@media (max-width: 600px) {
  .product {
    /* Display */
    gap: 10px;
    /* Position */
    top: 1814px;
    /*Size */
    height: 552px;
  }
  .product .text-card-container-top {
    max-width: 398px;
    height: 148px;
  }
  .product .text-card-container-top .text-card-top {
    /* Display */
    justify-content: space-between;
    gap: 16px;
  }
  .product .text-card-container-top .text-card-top p {
    line-height: 18px;
  }
  .product .text-card-container-top .text-card-top h2 {
    /* Size */
    height: 80px;
    /*Font */
    font-size: 32px;
    /* Spacing */
    line-height: 40px;
  }
  .product .main-product-container .product-card:nth-child(5) {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  /* Size */
  width: 100%;
  height: 2057.32px;
}
body .bg {
  /* Position */
  position: absolute;
  z-index: 1;
  /* Size */
  width: 100%;
  height: 2057.32px;
  /* Appearance */
  background-color: #000000;
}
body .page {
  /* Position */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  /* Size */
  width: 100%;
  max-width: 1680px;
  height: 2057.32px;
  /* Appearance */
  background-color: #ffffff;
}

@media (max-width: 1080px) {
  body {
    height: 1439px;
  }
  body .page,
  body .bg {
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
